{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Cookbook" %}{% endblock %}

{% block content %}

<p>{% include 'users/snippets/follow_form.html' with username=user.username is_following=is_following %}</p>

{% for category, recipes in categories.items %}
<h2>{{ category}}</h2>
<ul>
    {% for recipe in recipes %}
    <li><a href="{% url 'cookbook:recipe' username=user.username entry_id=recipe.id %}">
        {{ recipe.name }}
    </a></li>
    {% endfor %}
</ul>
{% endfor %}

{% endblock %}
