<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{recipe.name}}</title>
  </head>
  <body>
    <h1> Recipe : {{recipe.name}}</h1>
    
    <h2> Quantité et temps de préparation </h2>
    
    <p>
    	Quantité : {{recipe.quantity}} {{recipe.quantity_unit}}. <br><br>
    	
    	Temps de préparation : non implémenté.<br>
    	Temps de cuisson : {{recipe.cook_time}}. <br>
    </p>
    
    <h2> Ingredients </h2>
    <p>
    	{% if ingredient_quantities %}
			<ul>
			{% for x in ingredient_quantities %}
				<li>
					{{ x.ingredient }}
					{% if x.quantity %}	
						( {{x.quantity}}
						 {% if x.quantity_unit %}
							 {{x.quantity_unit}}
						 {% endif %}
						)
					{% endif %}
				</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No ingredients are listed for this recipe.</p>
		{% endif %}
    </p>
    
    <h2> Instructions de préparation </h2>
    
    <p>
    	<pre>{{recipe.instruction}}</pre>
    </p>
  </body>
</html>
