{% load i18n %}

<h2>{{ recipe.name }}</h2>

{% blocktrans with quantity=recipe.quantity unit=recipe.quantity_unit %}
For {{ quantity }} {{ unit }}.<br>
{% endblocktrans %}

{% trans "Cooking time:" %} {{ recipe.cook_time }}.<br><br>

{% if recipe.diet %}
{{ recipe.diet }}
{% endif %}

<h3>{% trans "Ingredients" %}</h3>

<table>
    <head>
        <tr>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Ingredients" %}</th>
        </tr>
    </head>
    <body>
        {% for iq in recipe.ingredientquantity_set.all %}
        <tr>
            <td>{{ iq.quantity }}{% if iq.quantity_unit %}{{ iq.quantity_unit }}{% endif %}</td>
            <td>{{ iq.ingredient }}</td>
        </tr>
        {% endfor %}
    </body>
</table>

<h3>{% trans "Recipe" %}</h3>

{{ recipe.instructions|linebreaks }}
