{% load i18n %}

{% load static %}
<script src="{% static 'recipes/ingredient_form_script.js' %}"></script>

<datalist id= "{{widget.name}}_ingredients_list">
    <option value=""> None </option>
	{% for ingredient in widget.attrs.ingredient_list %}
		<option value="{{ ingredient }}"> {{ ingredient }} </option>
	{% endfor %}
</datalist>
<tbody>
	<tr>
		    <table id="{{widget.name}}_ingredient_input">
		    	{% for ingredient in widget.value %}
			    <script> addIngredient('{{widget.name}}',{{widget.attrs.display_type}},'{{ingredient.name}}','{{ingredient.quantity_formatted}}','{{ingredient.exclude_formatted}}') </script>
			    {% endfor %}
		    </table>
    </tr>
    <tr>
		<button type="button" onclick=addIngredient('{{widget.name}}',{{widget.attrs.display_type}})>
	        {% trans "Add ingredient" %}
	    </button>
    <tr>
</tbody>


