{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Search for a recipe" %}{% endblock %}

{% block content %}

{% load static %}
<script src="{% static 'recipes/ingredient_search_script.js' %}"></script>
<div id="title">
	<h2>Search a recipe</h2>
</div>
<div id ="search">
<form method="post" action="{% url 'recipes:search' %}">
	{% csrf_token %}

	<datalist id= "ingredients_list">
		<option value=""> None </option>
		{% for ingredient in ingredient_list %}
			<option value="{{ ingredient }}"> {{ ingredient }} </option>
		{% endfor %}
	</datalist>

	<table>
		<tr>
			<th>{% trans "Name:"%}</th>
			<td> <input type="search" name="recipe_name" id="name" placeholder="Pizza"> </td>
		</tr>

		<tr>
			<th>{%trans "Type of recipe:"%}</th>
			<td>
				<select name="recipe_category" id="recipe_category">
					<option value="">-----</option>
					{% for category in recipe_category_list %}
						<option value="{{ category }}"> {{ category }} </option>
					{% endfor %}
				</select>
			</td>
		</tr>

		<tr>
			<th>{% trans "Specify diet restrictions:" %}<th>
			<td>
				{% for diet in diet_list %}
					<input type="checkbox" id="diet_{{diet}}" name="diets" value="{{diet}}">
					<label for="diet_{{diet}}">{{diet}}</label>
				{% endfor %}
			</td>
		</tr>

		<tr>
			<th>{% trans "Ingredients:" %}</th>
			<table id="ingredient_input">
				  <script> addIngredient() </script>
			</table>
	    </tr>
	    <tr>
			<button type="button" onclick=addIngredient()>
			    {% trans "Add ingredient" %}
			</button>
		<tr>
	</table><br>

	<input type="submit" value={% trans "Search" %}>
</form>
</div>

<div id=results>
	{% if has_results %}
		{% trans "Résultats :"%}
		{%if results%}
			<ul>
				{% for recipe in results %}
				<li><a href="{% url 'recipes:recipe_detail' recipe.id %}">{{ recipe.name }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
				<p>{% trans "No recipes available for this search 😢" %}</p>
		{% endif %}
	{% endif %}

</div>

{% endblock %}
