{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Search for a recipe" %}{% endblock %}

{% block content %}

{% load static %}
<script src="{% static 'recipes/ingredient_search_script.js' %}"></script>
<div id="title">
	<h2>Search a recipe</h2>
</div>
<div id ="search">
<form method="post" action="{% url 'recipes:search' %}">
	{% csrf_token %}
	<table>
	{{form.as_table}}
	</table> <br>

	<input type="submit" value={% trans "Search" %}>
</form>
</div>

<div id=results>
	{% if has_results %}
		{% trans "Résultats :"%}
		{%if results%}
			<ul>
				{% for recipe in results %}
				<li><a href="{% url 'recipes:recipe_detail' recipe.id %}">{{ recipe.name }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
				<p>{% trans "No recipes available for this search 😢" %}</p>
		{% endif %}
	{% endif %}

</div>

{% endblock %}
