{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Update a recipe" %}{% endblock %}

{% block content %}

{% load static %}
<script src="{% static 'recipes/ingredient_form_script.js' %}"></script>
<div>
	<h3>{%trans "Update a recipe and add it to your cookbook. Old recipe will be removed from your cookbook." %}</h3>
</div>
<div>
	<form method="post" action="{% url 'recipes:update' recipe_id%}">
	    {% csrf_token %}
	    <input id="recipe_id" name="recipe_id" type="hidden" value={{recipe_id}}>
	    <table>
	        {{ form.as_table }}

		     
			</table><br>
	    <input type="submit" value={% trans "Save modifications" %}>
	</form>
	
	<input type="button" value="Cancel" onclick="history.back()">
</div>

{% endblock %}
