{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Submit a recipe" %}{% endblock %}

{% block content %}

{% load static %}
<script src="{% static 'recipes/ingredient_form_script.js' %}"></script>

<div>
    <h2>{% trans "Submit a link to a recipe..." %}</h2><br>
    {% if error_message_link %}
		<div>
				{% trans "Error:" %} {{error_message_link}} <br>
				{% if existing_recipe %}
				<a href="{% url 'recipes:recipe_detail' existing_recipe.id %}">
            {% trans "Link towards the recipe" %}
        </a><br>
				{% endif %}
		</div>
		{% endif %}
    <form method="post" action="{% url 'recipes:scrape' %}">
		    {% csrf_token %}
		    <input type="text" id="url" name="url" placeholder="https://www.cuisine-libre.org/potee-auvergnate">
        <input type="submit" value={% trans "Submit" %}>
    </form>
</div>

<div>
		<h2>{% trans "... Or write your own recipe" %}</h2>
		{% if error_message_form %}
		<div>
				{% trans "Error:" %} {{error_message_form}} <br>

				{% if existing_recipe %}
				<a href="{% url 'recipes:recipe_detail' existing_recipe.id %}">
            {% trans "Link towards the recipe" %}
        </a><br>
				{% endif %}

		</div>
		{% endif %}
		<form method="post" action="{% url 'recipes:update' %}">
		    {% csrf_token %}
		    <table>
		        {{ form.as_table }}

			     
				</table><br>
		    <input type="submit" value={% trans "Submit my recipe" %}>
		</form>
</div>
{% endblock %}
