{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Submit a recipe" %}{% endblock %}

{% block content %}

{% load static %}
<script src="{% static 'recipes/ingredient_form_script.js' %}"></script>

<div>
    <h2>{% trans "Submit a link to a recipe..." %}</h2><br>
    {% if error_message_link %}
		<div>
				{% trans "Error:" %} {{error_message_link}} <br>
				{% if existing_recipe %}
				<a href="{% url 'recipes:detail_recipe' existing_recipe.id %}">
            {% trans "Link towards the recipe" %}
        </a><br>
				{% endif %}
		</div>
		{% endif %}
    <form method="post" action="{% url 'recipes:scrape' %}">
		    {% csrf_token %}
		    <input type="text" id="url" name="url" placeholder="https://www.cuisine-libre.org/potee-auvergnate">
        <input type="submit" value={% trans "Submit" %}>
    </form>
</div>

<div>
		<h2>{% trans "... Or write your own recipe" %}</h2>
		{% if error_message_form %}
		<div>
				{% trans "Error:" %} {{error_message_link}} <br>

				{% if existing_recipe %}
				<a href="{% url 'recipes:detail_recipe' existing_recipe.id %}">
            {% trans "Link towards the recipe" %}
        </a><br>
				{% endif %}

		</div>
		{% endif %}
		<form method="post" action="{% url 'recipes:handle_form' %}">
		    {% csrf_token %}
		    <table>
		        {{ form.as_table }}

			      <datalist id= "ingredients_list">
						    <option value=""> None </option>
								{% for ingredient in ingredient_list %}
								<option value="{{ ingredient }}"> {{ ingredient }} </option>
								{% endfor %}
					  </datalist>
					  <tbody>
					  		<tr>
						  		  <th>{% trans "Cooking time:" %}</th>
						  		  <td>
                        <input type="number" id="cook_time_hours" name="cook_time_hours" min="0">h
                        <input type="number" id="cook_time_minutes" name="cook_time_minutes" min="0">min
                    </td>
					  		</tr>
					  		<tr>
					  			  <th>{% trans "Ingredients:" %}</th>
								    <table id="ingredient_input">
									      <script> addIngredient() </script>
								    </table>
						    </tr>
						    <tr>
						    	  <button type="button" onclick=addIngredient()>
                        {% trans "Add ingredient" %}
                    </button><br>
						        <tr>
						</tbody>
				</table>
		    <input type="submit" value={% trans "Submit my recipe" %}>
		</form>
</div>

{% endblock %}
