{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet"
              href="{% block css %}{% static 'css/main.css' %}{% endblock %}">
        <link rel="shortcut icon"
              type="image/png"
              href="{% block favicon %}{% static 'favicon.ico' %}{% endblock %}">
        <title>{% block title %}ReciPy{% endblock %}</title>
    </head>

    <body>
        <header>
            {% block header %}
            <h1><a href="{% url 'users:dashboard' %}">
                <pre>______              __ ______         
|   __ \.-----.----.|__|   __ \.--.--.
|      <|  -__|  __||  |    __/|  |  |
|___|__||_____|____||__|___|   |___  |
                               |_____|
                </pre>
            </a></h1>
            {% endblock %}
        </header>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

        <div id="footer">
            {% block footer %}
            {% if user.is_authenticated %}
           	Connected as {{user.username}} <a href="{% url 'users:logout' %}">{% trans "(Log out)" %}</a>
            {% else %}
            Not connected <a href="{% url 'users:login' %}">{% trans "(Log in)" %}</a>
            {% endif %}
            <br>
            <a href="{% url 'recipes:my_cookbook'%}">{% trans "My cookbook" %}</a>
            <a href="{% url 'recipes:write'%}">{% trans "Write a new recipe" %}</a>
            <a href="{% url 'recipes:search'%}">{% trans "Search a recipe" %}</a>
            <a href="https://github.com/Hungry-Students/recipy">{% trans "Code" %}</a>
            {% endblock %}
        </div>
    </body>
</html>
