<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <div id="header">
            {% block header %}
            <h1><a href="{% url 'users:dashboard' %}">Welcome to ReciPy!</a></h1>
            {% endblock %}
        </div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

        <div id="footer">
            {% block footer %}
            {% if user.is_authenticated %}
            <a href="{% url 'users:logout' %}">Log out</a>
            {% else %}
            <a href="{% url 'users:login' %}">Log in</a>
            {% endif %}
            <a href="https://github.com/Hungry-Students/recipy">Code</a>
            {% endblock %}
        </div>
