{% load i18n %}

<h2>{{ recipe.name }}</h2>

{% blocktrans with quantity=recipe.quantity unit=recipe.quantity_unit %}
For {{ quantity }} {{ unit }}.<br>
{% endblocktrans %}

{% trans "Cooking time:" %} {{ recipe.cook_time }}.<br><br>

{% if recipe.diet %}
{{ recipe.diet }}
{% endif %}

<h3>{% trans "Ingredients" %}</h3>

<table>
    <head>
        <tr>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Ingredients" %}</th>
        </tr>
    </head>
    <body>
        {% for iq in recipe.ingredientquantity_set.all %}
        <tr>
            <td>{% if iq.quantity %}{{ iq.quantity }}{% endif %}{% if iq.quantity_unit %}{{ iq.quantity_unit }}{% endif %}</td>
            <td>{{ iq.ingredient }}</td>
        </tr>
        {% endfor %}
    </body>
</table>

<h3>{% trans "Recipe" %}</h3>

{{ recipe.instructions|linebreaks }}

<div id="comments">
    <h3>{% trans "Comments" %}</h3>
    {% for comment in comments %}
    <div class="comments" style="padding: 10px;">
        <p class="font-weight-bold">
            {{ comment.user }}
            <span class=" text-muted font-weight-normal">
                {{ comment.created_on }}
            </span>
        </p>
        {{ comment.content | linebreaks }}
    </div>
    {% endfor %}

    {% if user.is_authenticated %}
    <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
            {% trans "Your comment was posted successfully" %}
        </div>
        {% else %}
        <h3>{% trans "Leave a comment" %}</h3>
        <form method="post" style="margin-top: 1.3em;">
            {{ comment_form }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary  btn-lg">{% trans "Submit" %}</button>
        </form>
        {% endif %}
    </div>
    {% endif %}
</div>
